# PHP Version
PHP_VERSION=8.3

# Xdebug: coverage для тестов, debug для пошаговой отладки
XDEBUG_MODE=coverage
XDEBUG_TRIGGER=off

# Для PHPStorm/VSCode: укажите IP хоста, если используете Docker Desktop
# XDEBUG_CLIENT_HOST=host.docker.internal
# XDEBUG_CLIENT_PORT=9003